In [6]:
import pandas as pd
from time import strptime

In [13]:
cons_m_input = pd.read_csv("../data/monthly_quarterly_electricity_consumption_monthly.txt", delimiter="\t", decimal=',')
cons_q_input = pd.read_csv("../data/monthly_quarterly_electricity_consumption_quarterly.txt", delimiter="\t", decimal=',')

In [3]:
cons_m_input.head()

,year,month,pds_energy_available,pds_transmission_distribution_and_other_losses1,pds_setc_england_and_wales,pds_setc_scotland,pds_setc_northern_ireland,pds_setc_total,pds_setc_industrial,pds_setc_domestic,pds_setc_other,og_electricity_available,og_losses_and_statistical_differences,og_consumption_of_electricity,aes_electricity_available,aes_losses_and_statistical_differences,aes_consumption_of_electricity
0,1995,January,28.50,2.86,NaN,NaN,NaN,25.64,7.76,10.03,7.85,1.35,"0,01",1.34,29.85,2.87,26.98
1,1995,February,27.88,2.69,NaN,NaN,NaN,25.19,7.96,9.66,7.56,1.33,"0,01",1.32,29.20,2.70,26.50
2,1995,March*,33.33,3.21,NaN,NaN,NaN,30.12,9.28,12.22,8.62,1.58,"0,01",1.57,34.91,3.22,31.69
3,1995,April,23.88,2.28,NaN,NaN,NaN,21.60,7.05,7.81,6.75,1.27,"0,03",1.25,25.16,2.31,22.85
4,1995,May,22.61,2.09,NaN,NaN,NaN,20.52,7.56,6.54,6.42,1.21,"0,03",1.18,23.82,2.12,21.70

In [4]:
cons_q_input.head()

,year,month,pds_energy_available,pds_transmission_distribution_and_other_losses1,pds_setc_england_and_wales,pds_setc_scotland,pds_setc_northern_ireland,pds_setc_total,pds_setc_industrial,pds_setc_domestic,pds_setc_other,og_electricity_available,og_losses_and_statistical_differences,og_consumption_of_electricity,aes_electricity_available,aes_losses_and_statistical_differences,aes_consumption_of_electricity
0,1995,Quarter 1,89.71,8.76,NaN,NaN,NaN,80.95,25.00,31.91,24.03,4.25,"0,03",4.22,93.96,8.79,85.17
1,1995,Quarter 2,72.54,6.45,NaN,NaN,NaN,66.09,23.28,21.86,20.96,3.88,"0,09",3.79,76.43,6.55,69.88
2,1995,Quarter 3,69.72,6.03,NaN,NaN,NaN,63.68,23.53,19.18,20.98,3.77,"0,06",3.71,73.49,6.09,67.40
3,1995,Quarter 4,85.94,9.07,NaN,NaN,NaN,76.87,23.70,29.28,23.89,4.41,"-0,18",4.59,90.36,8.89,81.47
4,1996,Quarter 1,94.16,8.48,NaN,NaN,NaN,85.68,26.44,33.90,25.34,4.81,"-0,01",4.82,98.96,8.47,90.50

# Convert year, month, quarter

In [19]:
cons_m_converted = cons_m_input
#cons_m_converted['month'] = cons_m_converted['month'].map(lambda x: strptime(x.replace('*', '').strip(), '%B').tm_mon)

cons_q_converted = cons_q_input
cons_q_converted = cons_q_converted.rename(index=str, columns={"month": "quarter"})
cons_q_converted['quarter'] = cons_q_converted['quarter'].map(lambda x: x.replace('Quarter', '').strip())

cons_q_converted.head()

,year,quarter,pds_energy_available,pds_transmission_distribution_and_other_losses1,pds_setc_england_and_wales,pds_setc_scotland,pds_setc_northern_ireland,pds_setc_total,pds_setc_industrial,pds_setc_domestic,pds_setc_other,og_electricity_available,og_losses_and_statistical_differences,og_consumption_of_electricity,aes_electricity_available,aes_losses_and_statistical_differences,aes_consumption_of_electricity
0,1995,1,89.71,8.76,NaN,NaN,NaN,80.95,25.00,31.91,24.03,4.25,"0,03",4.22,93.96,8.79,85.17
1,1995,2,72.54,6.45,NaN,NaN,NaN,66.09,23.28,21.86,20.96,3.88,"0,09",3.79,76.43,6.55,69.88
2,1995,3,69.72,6.03,NaN,NaN,NaN,63.68,23.53,19.18,20.98,3.77,"0,06",3.71,73.49,6.09,67.40
3,1995,4,85.94,9.07,NaN,NaN,NaN,76.87,23.70,29.28,23.89,4.41,"-0,18",4.59,90.36,8.89,81.47
4,1996,1,94.16,8.48,NaN,NaN,NaN,85.68,26.44,33.90,25.34,4.81,"-0,01",4.82,98.96,8.47,90.50

# Filter data

In [30]:
cons_m_filtered = cons_m_converted[cons_m_converted.year >= 2010].reset_index()
cons_q_filtered = cons_q_converted[cons_q_converted.year >= 2010].reset_index()

cons_m_filtered.head()

,index,year,month,pds_energy_available,pds_transmission_distribution_and_other_losses1,pds_setc_england_and_wales,pds_setc_scotland,pds_setc_northern_ireland,pds_setc_total,pds_setc_industrial,pds_setc_domestic,pds_setc_other,og_electricity_available,og_losses_and_statistical_differences,og_consumption_of_electricity,aes_electricity_available,aes_losses_and_statistical_differences,aes_consumption_of_electricity
0,180,2010,1,34.56,3.20,28.21,2.27,0.89,31.36,8.51,13.10,9.75,1.59,"0,02",1.57,36.14,3.22,32.93
1,181,2010,2,30.36,3.66,24.59,1.33,0.78,26.70,7.73,10.82,8.15,1.39,"0,02",1.37,31.75,3.68,28.07
2,182,2010,3,31.42,0.47,27.00,3.12,0.84,30.95,8.72,12.16,10.07,1.43,"0,02",1.42,32.85,0.48,32.37
3,183,2010,4,27.15,2.17,23.19,1.09,0.70,24.98,7.99,9.02,7.97,1.48,"-0,00",1.48,28.62,2.16,26.46
4,184,2010,5,26.82,3.04,22.00,1.06,0.72,23.78,7.92,8.14,7.73,1.44,"-0,00",1.44,28.26,3.04,25.22

# Save dataframes

In [23]:
cons_m_filtered.to_csv("../data/consumption_monthly.csv")
cons_q_filtered.to_csv("../data/consumption_quarterly.csv")